env:
  DOCKER_REGISTRY_URL: ghcr.io/${{ github.repository_owner }}
  DOCKER_IMAGE_NAME: task-manager-api

name: Task Manager API Image
permissions: 
  contents: read
  packages: write

run-name: ${{ github.actor }} is building the API image
on:
  push:
    branches: [main]
    paths:
      - 'services/api/**' # The whole pipeline only runs if this folder changes
  # Also allows manual triggering for demos
  workflow_dispatch:

jobs:
  test-logic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          cd services/api
          pip install pytest redis flask

      - name: Run Unit Tests
        run: |
          cd services/api
          python3 -m pytest tests/test_app.py

  build-images:
    needs: test-logic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_REGISTRY_URL }}/${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=sha,enable=true,priority=100,prefix=,suffix=,format=short
            type=raw,value=latest,enable={{is_default_branch}}
        env:
          DOCKER_METADATA_SHORT_SHA_LENGTH: 10

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          context: ./services/api
          file: ./services/api/Dockerfile
          provenance: mode=max
          sbom: true
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

